@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

@define-color text #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color sapphire #74c7ec;
@define-color sky #89dceb;
@define-color teal #94e2d5;
@define-color green #a6e3a1;
@define-color yellow #f9e2af;
@define-color peach #fab387;
@define-color maroon #eba0ac;
@define-color red #f38ba8;
@define-color mauve #cba6f7;
@define-color pink #f5c2e7;
@define-color flamingo #f2cdcd;
@define-color rosewater #f5e0dc;

/* @import '../../.cache/wal/colors-waybar.css'; */
@import 'colors.css';

* {
    font-family:  "GeistMono Nerd Font Propo";
    /* font-weight: bolder; */
    font-size: 12px;
    min-height: 12px;
}

window#waybar {
    background-color: @background;
    /* background-color: transparent; */
    color: @primary;
    transition-property: background-color;
    transition-duration: 0.5s;
}

/*
window#waybar.solo {
background-color: #FFFFFF;
}
*/

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */

#workspaces button:hover {
    color: @primary_fixed;
    box-shadow: inherit;
    text-shadow: inherit;
    background: @crust;
    border: @crust;
}

#workspaces button.empty {
    color: #44475a
}

#workspaces button {
    padding: 0px 0px;
    color: @outline;
    /* margin: 4px 0 4px 0; */
    transition: color 200ms ease-in-out;
}

#workspaces button.selected {
    color: @blue;
}

#workspaces button.active {
    color: @primary;
}

#workspaces button.urgent {
    color: @error;
}

#image {
    margin: 4px 0 4px 10px;
}


#battery {
    padding: 0 2px;
    color: @text;
}

#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network.disconnected,
#wireplumber,
#custom-pacman,
#custom-swaync,
#custom-power,
#mode,
#idle_inhibitor,
#scratchpad,
#tray,
#pulseaudio,
#mpd {
    color: @text;
}

#network.wifi {
    color: @secondary;
}
#clock {
    color: @primary;
}

#power-profiles-daemon.performance {;
    color: @error_container;
}
#power-profiles-daemon.balanced,
#power-profiles-daemon.power-saver {
    color: @green;
}


#window,
#workspaces {
    margin: 0 0;
}

#window {
    /* padding: 8px 8px; */
}

/* If workspaces is the leftmost module, reduce left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0px;
}

#custom-pacman {
    color: @peach;
}

#pulseaudio {
    color: @mauve;
}

#pulseaudio.muted {
    color: @surface2;
}

#network {
    color: @flamingo;
}

#network.disconnected {
    color: @surface2;
}

#network.ethernet {
    margin-right: 8px;
    margin-left: 8px;
}
#battery {
    color: #ffffff;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#custom-power {
    color: @maroon;
}

#bluetooth {
    padding-right: 1px;
    color: white;
}

#bluetooth.disabled {
    color: @surface2;
}

#keyboard-state>label {
    padding: 0 5px;
}

#keyboard-state>label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
}

.modules-left {
    /* background-color: #000000; */
    border-radius: 0px;
    padding: 0 0px;
    margin: 0px 0 0 0px;
}

.modules-center {
    /* background-color: #000000; */
    border-radius: 0px;
    /* margin: 5px 0 0 10px; */
}

.modules-right {
    /* background-color: #000000; */
    border-radius: 0px;
    padding: 0 0px;
    margin: 0px 0px 0 0;
}

