/* Rofi + Pywal dynamic theme */

@import "~/.cache/wal/colors-rofi-dark.rasi"
/* or use colors-rofi-light.rasi if your Pywal theme is light */

/* You can also override specific colors here if you like */
* {
    background: #040b08;
    background-alt: #040b08;
    foreground: #c0c2c1;
    selected: #aa583d;
    active: #72705c;
    urgent: #9D8E6F;
}

